<p id="notice"><%= notice %></p>

<h1>Listing P Users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Id number</th>
      <th>Password</th>
      <th>Pic url</th>
      <th>Verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_users.each do |p_user| %>
      <tr>
        <td><%= p_user.first_name %></td>
        <td><%= p_user.last_name %></td>
        <td><%= p_user.email %></td>
        <td><%= p_user.id_number %></td>
        <td><%= p_user.password %></td>
        <td><%= p_user.verified %></td>
        <td><%= link_to 'Show', p_user %></td>
        <td><%= link_to 'Edit', edit_p_user_path(p_user) %></td>
        <td><%= link_to 'Destroy', p_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P user', new_p_user_path %>
