<div class="panel">
  <div class="panel-body">
    <button type="button" class="pull-right btn btn-default btn-sm">Copy this receipt</button>
    <h3 class="mt0"><%= @payment_result.receipt_number %></h3>
    <hr>
    <div class="row mb-lg">
      <div class="col-lg-4 col-xs-6 br pv">
        <div class="row">
          <div class="col-md-2 text-center visible-md visible-lg">
            <em class="fa fa-barcode fa-4x text-muted"></em>
          </div>
          <div class="col-md-2 text-center visible-md visible-lg">
            <em class="fa fa-barcode fa-4x text-muted"></em>
          </div>
          <div class="col-md-10">
            <h4><%= @payment_result.narration %></h4>
            <address></address>
            <%= @payment_result.revenue.revenue_stream.name %>
            <br><%= @payment_result.revenue.revenue_units.name %>
            <br>Location
          </div>
        </div>
      </div>
      <div class="clearfix hidden-md hidden-lg">
        <hr>
      </div>
      <div class="col-lg-4 col-xs-6 br pv"></div>
      <div class="clearfix hidden-md hidden-lg">
        <hr>
      </div>
      <div class="col-lg-4 col-xs-6 pv">
        <div class="clearfix">
          <p class="pull-left">Receipt No.
          <p class="pull-right mr"><%= @payment_result.receipt_number %></p>
        </div>
        <div class="clearfix">
          <p class="pull-left">Date</p>
          <p class="pull-right mr"><%= @payment_result.transaction_date.to_datetime %></p>
        </div>

      </div>
    </div>
    <div class="table-responsive table-bordered mb-lg">
      <table class="table">
        <thead>
        <tr>
          <th>Item #</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= (@payment_result.id) %></td>
          <td><%= (@payment_result.revenue.revenue_subgroup.name) + ': '+
                      (@payment_result.narration) + ' - '+
                      (@payment_result.revenue.revenue_stream.name) +', '+
                      (@payment_result.revenue.revenue_units.name) %></td>
          <td>1</td>
          <td>KSh. <%= @payment_result.amount %></td>
          <td class="text-right">KSh. <%= @payment_result.amount %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-offset-8 col-sm-4 pv">
        <div class="clearfix">
          <p class="pull-left">Subtotal</p>
          <p class="pull-right mr">KSh. <%= @payment_result.amount %></p>
        </div>
        <div class="clearfix">
          <p class="pull-left">Tax (0%)</p>
          <p class="pull-right mr">KSh. 0</p>
        </div>
        <div class="clearfix">
          <p class="pull-left h3">GRAND TOTAL</p>
          <p class="pull-right mr h3">KSh. <%= @payment_result.amount %></p>
        </div>
      </div>
    </div>
    <hr class="hidden-print">
    <div class="clearfix">
      <button type="button" onclick="window.print();" class="btn btn-default pull-left">Print</button>
      <button type="button" class="btn btn-success pull-right">Send Receipt</button>
    </div>
  </div>
</div>
