<!DOCTYPE html>
<html lang="en">

<%= render 'shared/head' %>

<body>

<div class="wrapper">
  <!-- Main section-->
  <%= render 'shared/frame' %>
  <section>
    <!-- Page content-->
    <div class="content-wrapper">
      <h3>Payment</h3>
      <%= render :partial => 'form_wizard' %>
    </div>
  </section>
</div>
<%= render 'shared/footer' %>
<%= render 'shared/scripts' %>
<%= javascript_include_tag 'payment.f', 'data-turbolinks-track' => true %>

</body>
</html>

