<!DOCTYPE html>
<html lang="en">

<%= render 'shared/head' %>

<body>

<div class="wrapper">
  <!-- Main section-->
  <%= render 'shared/frame' %>
  <section>
    <!-- Page content-->
    <div class="content-wrapper">
      <div class="unwrap">
        <%= render 'content' %>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/footer' %>
<%= render 'shared/scripts' %>

</body>

</html>
